/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
/* body {
    background: linear-gradient(135deg, #0f0a1f, #4c1d95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
} */

/* TÍTULO */
.titulo {
    text-align: center;
    margin-top: 50px;
}

.titulo h1 {
    color: white;
    font-size: 3rem;
}

.titulo span {
    color: #a78bfa;
}

/* INPUT BUSCA */
.caixa-input {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.caixa-input input {
    width: 420px;
    padding: 14px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
}


.caixa-input button {
    
    border: none;
    padding: 14px 22px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: 0.3s;
}



/* CARROSSEL */
.carrossel {
    margin-top: 25px;
}

.carrossel ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
}

.carrossel li {
    background: rgba(167, 139, 250, 0.15);
    color: black;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(10px);
}

.carrossel li:hover {
    background: #6d28d9;
    color: white;
}

/* INFORMAÇÃO */
.informacao {
    margin-top: 60px;
    text-align: center;
    padding: 0 20px;
}

.informacao h2 {
    color: black;
    margin-bottom: 10px;
}

.informacao p {
    
    max-width: 700px;
    margin: auto;
}

/* CARDS FUNCIONAMENTO */
.cardsFuncionamento {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 0 20px;
}

.cardsFuncionamento div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: black;
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(167, 139, 250, 0.2);
    transition: 0.3s;
    text-align: center;
}

.cardsFuncionamento div:hover {
    transform: translateY(-6px) scale(1.02);
    border-color: #a78bfa;
}


/* SOBRE NÓS */
.sobreNos {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.sobreNos div {
    color: black;
    border-radius: 20px;
    padding: 35px;
    max-width: 600px;
    border: 1px solid rgba(167, 139, 250, 0.2);
    text-align: center;
}

.sobreNos h2 {
    margin-bottom: 10px;
}



/* FOOTER */
footer {
    margin-top: 60px;
    background: #050314;
    color: white;
    padding: 20px;
    text-align: center;
}

