.container_login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #dbeafe, #ffffff);
    background-repeat: no-repeat;
}

.pagina_login.card{
    background-color: #fff;
    width: 375px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.pagina_login .semconta {
    text-align: center;
}

.pagina_login .botaoEntrarLogin {
    text-align: center;
}