
.headerListaPres {
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: end;
    border-bottom: 1px solid #e2e8f0;
}


.headerListaPres ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerListaPres ul li{
    padding: 30px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
